@charset "utf-8";


html {
	font-family: Arial; 
	box-sizing: border-box;
}

header {
	background-color: #7cc576;
	width: 100%;
}

.logo {
	position: static;
	width: 115px;
	box-sizing: border-box;
	padding: 10px;
	display: inline-block;
}

body {
	margin: 0;
}


nav {
	width: 100%;
	/*padding: 20px;*/
	overflow: hidden;
}

nav a {
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #6dcff6;
	border-radius: 5px;
	margin: 20px 50px;
	padding: 15px 30px;

}

div > h1 {
	display: inline-block;
	border: 0;
	margin: 0;
}

section {
	background-image: url(../img/circles-light.png);
	text-align: left;
}

.image-flex {
	position: static;
	display: block;
	width: 100%;
}

.image-flex-sidebar {
	position: static;
	display: block;
}

.inline-blk {
	display: inline-block;
}

.main-content {
	display: inline-block;
	width: 55%;
	box-sizing: border-box;
	margin: 0;
}

.sidebar {
	display: inline-block;
	width: 35%;
	box-sizing: border-box;
	padding-left: 5%;
	padding-top: 5%;
}

.img-container {
	position: static;
	width: 100%;
	padding: 20px;
}

.align {
	display: inline-block;
	margin: 0 20px;
}

.align p {
	text-align: center;
}

footer {
	background-color: #63d47b;
}

.social-media-container a {
	text-decoration: none;
}

.social-media-container {
	text-align: right;
	margin-top: 9px;
}

.social-media {
	width: 50px;
	margin: 0 5px;
}