/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of CSS Preset*/

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*CSS clearfix end*/

@charset "utf-8";

html {
	font-family: Arial; 
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
}

header {
	background-color: #7cc576;
	width: 100%;
}

.logo {
	box-sizing: border-box;
	display: inline-block;
}

.image-flex {
	position: static;
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	width: 90%;
	margin-bottom: -1em;
	margin-left: 9px;

}

.navigation {
	text-align: center;
}

nav {
	width: 100%;
	overflow: hidden;
	list-style-type: none;
}

nav li a {
	float: left;
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #6dcff6;
	border-radius: 5px;
	margin: 15px 40px;
	padding: 15px 50px;
	color: #000;
	font-size: larger;
}

div > h1 {
	display: inline-block;
	border: 0;
	margin: 0;
	padding-left: 60px;
	padding-bottom: 45px;
	float: left;
	font-size: 38px;
}

section {
	background-image: url(../img/circles-light.png);
	text-align: left;
	width: 100%;
}

h1 {
	display: inline-block;
	border: 0;
	margin: 0;
	padding-left: 60px;
	padding-bottom: 45px;
	float: left;
	font-size: 38px;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	margin: 1em 0 .5em 0;

}

h3 {
	font-weight: normal;
	font-size: 1.5em;
}

.image-flex-sidebar {
	position: static;
	display: block;
}

.inline-blk {
	display: inline-block;
}

.main-content {
	/*display: inline-block;*/
	float: left;
	width: 55%;
	box-sizing: border-box;
	margin: 0;
	padding: 20px;
}

.sidebar {
	/*display: inline-block;*/
	float: left;
	width: 35%;
	box-sizing: border-box;
	padding-left: 2%;
}

.img-container {
	position: static;
	width: 100%;
	padding-top: 20px;
}

.img-container h3 {
	padding-left: 20px;
}

.align {
	display: inline-block;
	margin: 1em 4em 1em 3em;
	float: left;
}


.align p {
	text-align: center;
}

.align-copyright {
	padding: 20px;
	display: inline-block;
}

footer {
	background-color: #63d47b;
	width: 100%;
}

.social-media-container a {
	text-decoration: none;
}

.social-media-container {
	text-align: right;
	margin-top: 14px;
	margin-left: 24em;
}

.social-media {
	width: 50px;
	margin: 0 5px;
}
