/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of CSS Preset*/

/*CSS clearfix*/

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*CSS clearfix end*/

html {
	max-width: 1024px;
	margin: 0 auto;
	box-sizing: border-box;
}

nav, section, footer {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-family: 'alpha_echoregular';
	font-size: 30px;
	color: black;
	letter-spacing: 3px;
	padding-left: 1em;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	color: black;
	padding: 5px 0 13px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

/************************
		MOBILE FIRST
************************/

/*Make sure major containers in your HTML file are set to 100% width to achieve Fluid Layout */

header, main, footer {
	width: 100%;
}

.mylogo-title {
	background-color: white;
}

.navigation {
	background-color: #d1cbd0;
	padding: 1em;
}

.navigation a {
	color: black;
	text-decoration: none;
	padding: 15px 35px;
}

.about-container {
	width: 60%;
	float: left;
	box-sizing: border-box;
}


section {
	background-image: url(../img/greyfloral.png);
}


.about {
	padding: 1em 2em 0;
}

.about p {
	padding-bottom: 1em;
}

.sidebar-img {
	width: 40%;
	float: left;
	box-sizing: border-box;
	padding: 4em 2em 0;
}

.table-container {
	padding: 0 4em 2em;
}
table {
	max-width: 905px;
}

table th {
	font-size: 20px;
	font-weight: bold;
	color: black;
	background-color: white;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	text-align: center;
	padding: 10px;
}

tr:nth-child(odd) {
	background-color: #d1cbd0;
}

.form-container {
	width: 50%;
	box-sizing: border-box;
	float: left;
}

.form {
	padding-left: 2em;
	padding-bottom: 27px;
}

.form div {
	padding-bottom: 1em;
}

/* .col-25 and .col-75 are label and input columns*/

.col-25 {
	float: left;
  	width: 25%;
  	margin-top: 6px;
}

.col-75 {
	 float: left;
  	width: 75%;
  	margin-top: 6px;
}


button {
  background-color: white;
  padding: 4px 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 16em;
}

/*person icon*/
.fa-user-circle {
	color:black;
	font-size: 100px;
}

.fa-envelope {
	color: black;
	font-size: 30px;
}

footer {
	background-color: #d1cbd0;
	box-sizing: border-box;
	float: left;
}

.follow-us, .address, .quick-links {
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	padding: 2em 3em;
}

.quick-links a {
	text-decoration: none;
	color: black;
}

.quick-links li {
	padding: 1em;
}

.follow-us i {
	padding: 30px 9px;
}

.address p {
	padding: 17px 10px 0 20px;
}

.fa-facebook {
	color: #3b5999;
	font-size: 45px; 
}

.fa-youtube {
	color: #cd201f;
	font-size: 45px;
}

.fa-twitter {
	color: #55acee;
	font-size: 45px;
}



#name_result {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#email_result {
	text-decoration: none;
}

.results {
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding-bottom: 25px;
}

.results p {
	padding-bottom: 1em;
	font-weight: bold;
}


div#results {
  border-radius: 5px;
  background-color: white;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

#results span, #results a {
	opacity: 0;
	transition: all 0.5s ease-out;
	transition-delay: 1s;
}

#results.reveal span, #results.reveal a {
	opacity: 1;
}

.overlay-container {
	display: none;
	position: fixed;
	max-width: 1024px;
	width: 100%;
	height: 100%;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,0.5777661406359419) 7%, rgba(0,0,0,1) 92%);
	top: 0;
	z-index: 2;

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	animation: 
		spin 2s linear infinite,
		change-color 4s ease-in-out infinite,
		border-radius-change 1s ease infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
}
	to {
		transform: rotate(360deg);
}
}

@keyframes change-color {
	0% {
		border-top-color: white;
}
	100% {
		border-top-color: black;
}
}

@keyframes border-radius-change {
	0% {
		border-radius: 50%;
}
	50% {
		border-radius: 0%;
}
	100% {
		border-radius: 50%;
}
}


/*This media query will only target the tablet size*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
	header {
		background: #FFEB3B;
	}
}

@media only screen and (max-width: 768px) {
	footer {
		background: grey;
	}
}

/*This media query targets, tablet and above*/
@media only screen and (min-width: 768px) {
	
	/*header styles*/

	/*the following css is used to restrict the content beyond 1280px*/
	/*This is to make sure the main content is in the readbable area for large screen sizes*/
	header, main, footer {

		max-width: 1024px;
		margin: 0 auto;

	}
}
